urllib3
beautifulsoup4
Pillow
captcha
googletrans
Google-Images-Search
google-cloud-pubsub
google-cloud-scheduler
google-cloud-vision
ShazamAPI
opencv-python
price-parser
openai
PyJWT
spamwatch