telepota
python-dotenv
urllib3
beautifulsoup4
Pillow
opencv-python==4.10.0.84
Wand
ffmpeg-python
deep-translator
google-api-python-client==2.48.0
google-cloud-storage
Google-Images-Search
saucenao_api
ShazamAPI
captcha
price-parser
spamwatch
openai
jwcrypto
flask
flask-cors
gunicorn
pyopenssl
Pylint